@import "tailwindcss";

/* :root {
  --background: #ecf0f6;
  --foreground: #323232;
} */

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

leaflet-container {
  /* Clase por defecto de Leaflet */
  height: 500px; /* O el tamaño que desees */
  width: 100%;
}

/* CSS para el div de información (opcional, copiado de antes) */
.info {
  padding: 6px 8px;
  font:
    14px/16px Arial,
    Helvetica,
    sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 10px;
}
#selected-sector-info {
  font-weight: bold;
}

.leaflet-container *,
.leaflet-container *:focus,
.leaflet-interactive,
.leaflet-interactive:focus,
.leaflet-pane,
.leaflet-pane *,
.leaflet-pane *:focus,
path.leaflet-interactive {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.custom-radio-container input:checked + .custom-radio-checkmark {
  border-color: #3b82f6; /* Tailwind's blue-500 */
  background-color: #ffffff; /* White background for the outer circle when checked */
}

.custom-radio-container
  input:checked
  + .custom-radio-checkmark
  .custom-radio-dot {
  transform: scale(1); /* Show the inner dot */
}

/* Optional: Hover effect for the custom radio button */
.custom-radio-container:hover .custom-radio-checkmark {
  background-color: #e5e7eb; /* Tailwind's gray-200 on hover */
}
